:root{
    --primary-color: #000000;
    --background-color: #d2ceced2;
    --tertiary-color: #000000;
    --hover-color: #ffffffb6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: rgba(210, 206, 206, 0.3); 
    width: 94%;
    height: 120px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 999px;
    margin: 0 auto;
    margin-top: 20px;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}
/* Right Header Content */
.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.blog-btn{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    vertical-align: top;
    transition: 0.3s ease-in-out;
}
.download-qr-btn{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
header svg{
    width: 1em;
    height: auto;
    transition: 0.3s ease-in-out;
}
.qr{
    display: none;
}
.blog-btn:hover{
    background-color: var(--hover-color);
    svg{
        transform: translateX(10px) translateY(-3px);
    }
}
.download-qr-btn:hover{
    background-color: var(--hover-color);
    svg{
        transform: scale(6) translateY(25px);
        background-color: var(--background-color);
        padding: 2px;
        border-radius: 2px;
    }
}














